<?xml version="1.0" encoding="utf-8"?>
<!--
  Web.config
  IMPORTANT: Update the "Data Source" value below to match your SQL Server
  instance name if it is different from ".\SQLEXPRESS".

  Common values:
    - Local default instance:      Data Source=.
    - SQL Server Express:          Data Source=.\SQLEXPRESS
    - Named instance:              Data Source=YOUR_PC_NAME\INSTANCE_NAME
-->
<configuration>

  <connectionStrings>
    <add name="StudentDBConnection"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=StudentDB;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
